:root {
    --black-color: black;
    --nav-background-color: #e3e2e2;
    --primary-color: #074607;
    --secondary-color: #ffffff;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--secondary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

section {
    text-align: justify;
}

header a {
    display: inline;
    text-decoration: none;
    background-color: var(--nav-background-color);
    padding: 10px 25px;
    text-align: center;
    color: var(--black-color);
}

header nav {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    column-gap: 1px;
}

/* header article img {
    width: 100px;
    height: auto;
    display: inline;
    margin: 16px;
    padding: 8px;
} */

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    height: 600px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero article {
    position: absolute;
    top: 0px;
    left: 10px;
    right: 10px;
    padding: 20px;
    float: right;
}

h1 {
    /* position: absolute; */
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

.hero article img {
    float: right;
    width: 200px;
    height: auto;
    margin-left: 20px;
}

.history {
    position: relative;
    top: 10px;
}

.clients div {
    position: relative;
}

.clients article {
    top: 492px;
    position: absolute;
    background-color: var(--accent2-color);
    opacity: 0.75;
    text-align: justify;
    width: 805px;
    display: grid;
    grid-template-columns: 250px 1fr;

}

.client-text {
    grid-column: 2/3;
}

section p {
    position: relative;
    top: 0px;
}

.clients img {
    width: auto;
    height: 165px;
    grid-row: 1/2;
    grid-column: 1/2;
}

.history-container {
    width: 805px;
}

.history-container h2 {
    text-align: center;
}

.adventure {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.adventure h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.adventure figure {
    min-height: 100px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.adventure img {
    width: 120px;
    height: auto;
    background-color: var(--accent2-color);
}

.companyinfo h1,
h2 {
    text-align: center;
    color: var(--black-color);
}

h2 {
    font-size: 18px;
}

iframe {
    width: 410px;
    height: 430px;
    align-self: center;
    padding-top: 15px;
    border: none;
}

form {
    padding: 20px;
    background-color: #ffffff;
    color: #111;
    /* border: solid transparent; */
}

input,
textarea,
select,
button {
    padding: .75rem;
    /* min-width: 250px; */
}

label,
span {
    font-weight: bold;
    text-align: start;
}

.name input,
.email input,
textarea {
    width: 100%;
    border-radius: 4px;
}

button {
    width: 100%;
    background-color: var(--nav-background-color);
    color: #000000;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
    border: 1px solid var(--black-color);
    margin-top: 10px;
}

code {
    display: block;
    background-color: #111;
    color: #fff;
}

.box {
    margin: 1rem;
    border: none;
    padding: 1rem;
}

.message-area {
    display: grid;
    grid-template-columns: 1fr;

}

.message-area label {
    grid-row: 1/2;
    padding-bottom: 5px;
}

.message-area textarea {
    grid-row: 2/3;
    width: 340px;
    border: 1px solid var(--black-color);
}

.radiogroup {
    display: grid;
    grid-template-columns: 100px 15px 235px;
    grid-template-rows: 41px 41px 41px;
    margin-bottom: 15px;
}

.radiogroup span {
    grid-column: 1/2;
    grid-row: 2/3;
}

.radiogroup input {
    grid-column: 2/3;

}

.radiogroup label {
    grid-column: 3/4;
    align-self: center;
    padding-left: 10px;
}

.form-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    border: none;
    margin-bottom: 15px;
    align-items: start;
}

.forms {
    width: 410px;
    height: 450px;
    border: none;
    display: inline-block;
}

.chebox-area {
    font-size: 14px;
}

.googlemaps {
    display: inline-block;
    height: 450px;
}

.employee {
    margin-top: 15px;
    padding-top: 10px;
    background-color: var(--nav-background-color);
    padding-bottom: 20px;
}

.employee img {
    width: auto;
    height: 170px;
    justify-self: center;
}

.employee-img {
    display: grid;
    grid-template-columns: repeat(3, 230px);
    justify-content: center;
    grid-template-rows: 170px 1fr;
    padding-bottom: 10px;
    gap: 15px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: var(--black-color);
}

.employee h2 {
    padding-bottom: 10px;
}

.employee-img figure {
    display: grid;
}

footer {
    position: relative;
    /* top: 950px; */
}

.socialmedia {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 600px 1fr 1fr 1fr;
}

footer a {
    padding-top: 10px;
    padding-bottom: 0px;
}

footer img {
    width: 30px;
    height: auto;
    margin: 0 0 15px;
}

footer p {
    grid-column: 1/2;
    margin: 10px 0 15px;

}